.card.banner {
    border-radius: 1em;
    border: 2px solid #206bc8;
    padding: 10px;
    background-color: #b7d4ff;
}



.button {
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 8px;
    border: 2px solid #206bc8;
    font-family: "Copperplate Papyrus";
    display: block;
    width: 98%;
    position: relative;
}

.button:hover {
    background-color: #206bc8;
    border: 2px solid #206bc8;
    color: #f0b401;
}

.text-format, .text-format:link, .text-format:visited, .text-format:active {
    text-decoration: none;
    color: #f0b401;
    padding: 0px;
    
}
