.button {
    background-color: #008CBA;
    font-size: 36px;
    width: 32vw;
    color: #001111;
    border: 2px solid #008CBA;
    align-items: center;
    float: center;
    font-family: "Century Gothic";
    text-decoration: none;
}

.button:hover .text-format, .button:hover {
    background-color: #001111;
    border: 2px solid #001111;
    color: #008CBA;
}

.text-format, .text-format:link, .text-format:visited, .text-format:active {
    text-decoration: none;
    color: #001111;
}
